{% extends "base.html" %}
{% block content %}
<section class="panel glass narrow">
  <h2><i class="bi bi-person-lock"></i> Login</h2>

  <form method="post" class="form-grid">
    <label>
      Username
      <input type="text" name="username" required>
    </label>

    <label>
      Password
      <input type="password" name="password" required>
    </label>

    <button type="submit" class="btn primary">Sign In</button>
  </form>

  <!-- Forgot Password Link -->
 <div style="margin-top: 10px; text-align: right;">
    <a href="{{ url_for('forgot_password') }}" class="forgot-link">
      Forgot Password?
    </a>
  </div>

</section>
{% endblock %}
